/* Default imported global styles used throughout program
 * Local component styles can be found in their 'styles' folder
 */

@import './variables';

/* General Sub-Styles */

.no-margin {
  margin: 0 !important;
}

.hide-mobile {
  display: block;
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none !important;
  }
}

/* Container Styles */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;

  &--no-center {
    @extend .container;
    justify-content: normal;
    align-items: normal;
  }

  &--column {
    @extend .container;
    flex-direction: column;
  }

  &--right {
    @extend .container;
    justify-content: flex-end;
  }

  &--tight {
    @extend .container;
    margin: 0;
    padding: 0;
  }
}

/* Text styles */

.bold {
  font-weight: 500;
}

.text--large {
  font-size: 2.5rem;
}

.text--medium {
  font-size: 1.5rem;
}

.text--small {
  color: $smallTextColor;
  margin: 0 0.5rem 0 0;
  font-size: 0.8rem;
}

/* Input styles */

.input-error {
  border: 1px solid red !important;
}

/* Overriding bootstrap styles */

// .modal-open {
//   overflow: scroll !important;
// }
