@import './variables';

.header-wrapper {
  max-width: auto;
  width: inherit;
  position: absolute;
  top: 0;
  z-index: 2;
}

.navbar {
  box-shadow: none;

  &__login {
    margin: 0;
    padding: 0.3rem 1rem !important;
    color: white !important;
    background-color: $loginButtonBgColor;
    border-radius: 10px;
    box-shadow: 0 0 black;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .header-wrapper {
    max-width: 80rem;
    width: 100%;
  }

  .navbar {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  .nav-login {
    margin: 0.6rem 0.5rem 0.5rem 0.5rem;
  }
}
