/* Default imported global styles used throughout program
 * Local component styles can be found in their 'styles' folder
 */

@import './variables';

/* General Sub-Styles */

.no-margin {
  margin: 0 !important;
}

.shadow {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.hide-mobile {
  display: block;
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none !important;
  }
}

/* Container Styles */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;

  &--no-center {
    @extend .container;
    justify-content: normal;
    align-items: normal;
  }

  &--column {
    @extend .container;
    flex-direction: column;
  }

  &--right {
    @extend .container;
    justify-content: flex-end;
  }

  &--tight {
    @extend .container;
    margin: 0;
    padding: 0;
  }
}

/* Button styles */

.button {
  cursor: pointer;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0 1rem;

  &--green {
    @extend .button;
    background-color: #5aa45a;

    &:hover {
      background-color: rgb(49, 153, 49);
    }
  }

  &--blue {
    @extend .button;
    background-color: #6a99c5;

    &:hover {
      background-color: #5681aa;
    }
  }

  &__icon {
    color: white;
    margin-right: 0.5rem;
  }

  &__text {
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin: 0;
    margin-right: 0.1rem;
  }
}

/* Icon styles */

.icon {
  cursor: pointer;
  margin-right: 0.7rem;

  &--blue {
    @extend .icon;
    color: #6a99c5;
  }

  &--green {
    @extend .icon;
    color: #5aa45a;
  }

  &--red {
    @extend .icon;
    color: #d93030;
  }
}

/* Text styles */

.bold {
  font-weight: 500;
}

.text--large {
  font-size: 2.5rem;
}

.text--medium {
  font-size: 1.5rem;

  &--grey {
    @extend .text--medium;
    color: #989898;
  }
}

.text--small {
  color: $smallTextColor;
  margin: 0 0.5rem 0 0;
  font-size: 0.8rem;
}

/* Input styles */

.input-error {
  border: 1px solid red !important;
}

/* Overriding bootstrap styles */
