/* Found animation code originally in scss and converted to css */
.running {
  --color: #8a91b4;
  --duration: 0.8s;
  transform: scale(var(--scale, 1));
}
.running .runner {
  animation: runner var(--duration) linear infinite;
}
.running .runner .runner-body {
  background: var(--color);
  height: 15px;
  width: 8px;
  border-radius: 4px;
  transform-origin: 4px 11px;
  position: relative;
  transform: rotate(32deg);
  animation: runner-body var(--duration) linear infinite;
}
.running .runner .runner-body:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  bottom: 16px;
  left: 0;
  position: absolute;
  background: var(--color);
}
.running .runner .runner-body .arm,
.running .runner .runner-body .arm:before,
.running .runner .runner-body .leg,
.running .runner .runner-body .leg:before {
  content: '';
  width: var(--w, 11px);
  height: 4px;
  top: var(--t, 0);
  left: var(--l, 2px);
  border-radius: 2px;
  transform-origin: 2px 2px;
  position: absolute;
  background: var(--c, var(--color));
  transform: rotate(var(--r, 0deg));
  animation: var(--name, arm-leg) var(--duration) linear infinite;
}
.running .runner .runner-body .arm:before {
  --l: 7px;
  --name: arm-b;
}
.running .runner .runner-body .arm.front {
  --r: 24deg;
  --r-to: 164deg;
}
.running .runner .runner-body .arm.front:before {
  --r: -48deg;
  --r-to: -36deg;
}
.running .runner .runner-body .arm.behind {
  --r: 164deg;
  --r-to: 24deg;
}
.running .runner .runner-body .arm.behind:before {
  --r: -36deg;
  --r-to: -48deg;
}
.running .runner .runner-body .leg {
  --w: 12px;
  --t: 11px;
}
.running .runner .runner-body .leg:before {
  --t: 0;
  --l: 8px;
}
.running .runner .runner-body .leg.front {
  --r: 10deg;
  --r-to: 108deg;
}
.running .runner .runner-body .leg.front:before {
  --r: 18deg;
  --r-to: 76deg;
}
.running .runner .runner-body .leg.behind {
  --r: 108deg;
  --r-to: 10deg;
  --c: none;
}
.running .runner .runner-body .leg.behind:before {
  --c: var(--color);
  --r: 76deg;
  --r-to: 18deg;
}
.running .runner .runner-body .leg.behind:after {
  content: '';
  top: 0;
  right: 0;
  height: 4px;
  width: 6px;
  clip-path: polygon(2px 0, 6px 0, 6px 4px, 0 4px);
  border-radius: 0 2px 2px 0;
  position: absolute;
  background: var(--color);
}
@keyframes runner {
  50% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(4px);
  }
}
@keyframes runner-body {
  50% {
    transform: rotate(16deg);
  }
  25%,
  75% {
    transform: rotate(24deg);
  }
}
@keyframes arm-leg {
  50% {
    transform: rotate(var(--r-to));
  }
}
@keyframes arm-b {
  30%,
  70% {
    transform: rotate(var(--r-to));
  }
}
