body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.body-wrapper {
  background-color: #f8f9fa;
  width: 100%;
  flex: 1;
}
