.loading {
  color: #666;
  font-weight: 800;
  font-size: 1.5rem;
  animation: pulse infinite ease-in;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
}
