.workout-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0;
  flex: 1;
  border-radius: 22px;
  background-color: white;
  box-shadow: 0 1px 5px #ccc;
  padding: 12px;
  margin: 1rem 1rem 3rem 1rem;
  height: 100%;

  &__day {
    font-weight: 800;
    font-size: 3rem;
    border-radius: 10px;
    min-width: 10rem;
    flex: 4;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
    justify-content: normal;
    flex: 5;
    min-width: 10rem;
    padding: 1rem;
  }

  &__btn {
    position: absolute;
    padding: 0.5rem 3rem !important;
    bottom: -2rem;
    background-color: #5aa45a !important;
    font-weight: 500 !important;
    border: none !important;
  }
}
