.dialog {
  display: flex;
  justify-content: center;

  &__title {
    font-weight: 500;
  }

  &__text {
    color: #666;
  }
}

.dialog > .modal-content {
  min-width: 20rem;
  padding: 1rem;
  margin: 1rem;
}

.dialog .modal-footer {
  padding: 0;
  margin: 0.5rem 0 0 0;
}

.dialog .modal-body {
  display: flex;
  padding: 0;
  padding-top: 0.5rem;
}

.dialog i {
  color: #cd4545;
  font-size: 1.3rem;
  margin: 0 1rem 0 0;
}

.dialog button {
  font-weight: 500;
  border: none;
}
